<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
 version="2.5">
 <display-name>lab10</display-name>

<servlet>
 <servlet-name>DBConnection</servlet-name>
 <servlet-class>DBConnection</servlet-class>
 </servlet>

 <servlet-mapping>
 <servlet-name>DBConnection</servlet-name>
 <url-pattern>/DBConnection</url-pattern>
 </servlet-mapping>


<servlet>
 <servlet-name>DBConnection2</servlet-name>
 <servlet-class>DBConnection2</servlet-class>
 </servlet>

 <servlet-mapping>
 <servlet-name>DBConnection2</servlet-name>
 <url-pattern>/DBConnection2</url-pattern>
 </servlet-mapping>


<servlet>
 <servlet-name>DBConnection3</servlet-name>
 <servlet-class>DBConnection3</servlet-class>
 </servlet>

 <servlet-mapping>
 <servlet-name>DBConnection3</servlet-name>
 <url-pattern>/DBConnection3</url-pattern>
 </servlet-mapping>


 <welcome-file-list>
 <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
</web-app> 